@media screen and (max-width: 1265px) {
  section img {
    height: 620px;
  }

  .gray-outline:first-child .instruction-wrapper {
    padding: 25px;
    row-gap: 15px;
  }

  .gray-outline:last-child .instruction-wrapper {
    padding: 30px 50px;
  }

  .steps-wrapper {
    row-gap: 15px;
  }

  .block-wrapper {
    padding-top: 0px;
  }
}
